body{
  background-attachment: fixed;
  background: #FFFFFF;
background: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #A1ADC7 100%);

}
.container{
  width: 430px;
  background-color: rgb(55, 60, 78);
  box-shadow: 15px 15px 15px 15px #888888;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 40px 10px;
  margin-top: 50px;
border: solid 2px rgb(0, 0, 0);
border-radius: 10px;
  }
h1{
  text-shadow: 0 2px 5px #666363;
  font-weight: 700;
  color: #534444;
  text-align: center;
  margin-top: 50px;
}
.container input{
  width: 90%;
  padding: 11px;
  border: none;
  font-size: 20px;
  margin-top: 11px;
  border-radius: 3px;
}
.container button{
  width: 90px;
  padding: 7px;
  margin: 10px 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
    
.container .equal{
  background-color: rgb(0, 162, 255);
  color: white;
}

@media only screen and (max-width:580px ) {
  .container {
    width: 100%; /* Full width on mobile */
    margin: 30px auto; /* Center horizontally */
    padding: 50px 20px;
  }

  .container input {
    font-size: 18px; /* Slightly smaller font size */
  }

  .container button {
    width: 70px; /* Reduce button width */
    font-size: 16px; /* Reduce font size */
    margin: 10px 3px; 
    padding: 10px 3px;
  }
}

@media only screen and (max-width:340px ) {
  .container {
    margin: 100px auto; /* Center horizontally */
    padding: 50px 5px;
  }
}